.logo {
  text-align: center;
  padding: 2.6rem 1rem;
}
h1 {
  font-style: italic;
  color: #f2f5f7;
}
.mat-icon {
  margin-right: 1rem;
  vertical-align: center;
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

.mat-list-item {
  color: #94a3b8 !important;
  height: 44px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.mat-list ::ng-deep .mat-list-item-content {
  border-radius: 5px !important;
  margin: 0 8px !important;
}

.mat-list ::ng-deep .mat-list-item-content:hover {
  background-color: #2c3344 !important;
}

.list-item-active ::ng-deep .mat-list-item-content {
  color: #f2f5f7 !important;
}

.list-item-active ::ng-deep .mat-list-item-content {
  background-color: #2c3344 !important;
}

.list-item-active ::ng-deep .mat-list-item-content:hover {
  background-color: #2c3344 !important;
}

.mat-subheader {
  font-size: 0.6rem;
  color: #818c8f;
  font-weight: 100;
  letter-spacing: 1px;
}
